.hero {
    text-align: center;
    border: 1px solid #000; /* Optional: Add border for better visualization */
    padding: 10px; /* Optional: Add padding for better spacing */
}

.chart-container {
	max-width: 800px;
	margin: 0 auto;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; /* Adjust gap between items */
    height: 100vh;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}